@import url("https://fonts.googleapis.com/css?family=Roboto:wght@200;300;400;500;600;700;800&display=swap");

body{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: #4698b6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 450px;
    height: 900px;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: azure;
    border-radius: 8px;
}
.input-container{
    width: 90%;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 2px 20px;
    border: 2px solid azure;
    border-radius: 9px;
    box-shadow: 0 0 5px rgba(52, 49, 49, 0.2);
    background-color: white;
}

.cityInput{
    flex: 1;
    height: 30px;
    padding: 10px;
    outline: none;
    font-size: 20px;
    border: none;
}
.search-icon{
    padding: 10px;
    height: 30px;
    cursor: pointer;
}
.search-icon img{
   object-fit: contain;
   margin-top: 5px;
   height: 30px;
}
.error-message{
    text-align: center;
    color: red;
    font-size: 350%;
    margin-top: 10px;
}