@import url("https://fonts.googleapis.com/css?family=Roboto:wght@200;300;400;500;600;700;800&display=swap");

body{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: #4698b6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 450px;
    height: 900px;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: azure;
    border-radius: 8px;
}
.image{
    text-align: center;
    height: 250px;
    margin-bottom: 10px;
    margin-top: 40px;
}
.image img{
    width: 220px;
    height: 220px;
}
.temperature, .location, .countryname{
    text-align: center;
    margin-top: 5px 0;
    font-size: 40px;
    text-transform: capitalize;
    color: rgb(51, 51, 59);
}
.temperature{
    font-weight: 600;
}
.location{
    color: #efb811;
    font-size: 48px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
}
.countryname{
    font-size: 25px;
    font-weight: 400;
    color: rgb(80, 80, 91);
}
.coord{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
}
.coord div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.coord div span:nth-child(1), .text{
    font-size: 16px;
    font-weight: 500;
    color: rgb(0, 0, 16);
    text-transform: capitalize;
}
.coord div span:nth-child(2), .humidity-percent, .wind-speed{
    font-size: 17px;
    font-weight: bold;
    color: rgb(157, 157, 163);
    padding-top: 5px;
}
.data-container{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright{
    text-align: center;
    font-size: 14px;
    color: rgb(180, 180, 183);
}
.copyright span{
    font-weight: 600;
    color: rgb(161, 161, 163);
}